
<p>Scales</p>


<ul class='tasks'>
    {{#each id }}
    
    <li class='task' id={{id}}>weight: {{weight}}, lognitude: {{lognitude}}, latitude: {{latitude}}, time: {{time}}, date: {{date}}</li>
    {{/each}}
</ul>

