   <!-- <head profile="http://gmpg.org/xfn/11">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
      
      
     <script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script> 
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>-->

<head>
       <link rel="stylesheet" href="/leaflet.css" />
      <link rel="stylesheet" href="/css/weight.css" />
      <link rel="stylesheet" href="/css/navigations_bar.css" />
      <script src="/leaflet.js"></script>
    <!-- <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>-->
         <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>



  
 
    <title>OpenLayers example</title>
  </head>
  <body>
    
      {{#if username}}
        
      <p style="display:none" id='1' class="check_if_signed"></p>
         {{else}}
       <p style="display:none" id='0' class="check_if_signed"></p>
       {{/if}}
  
<div class="parent"> 


<div id="map" class="div_map" ></div>
     

    
<div class="devices">
<h2 id='scale' style="color: aliceblue;">Scales</h2>


<table class='tasks' id="list">

  <br>
 
  <br>
    <tr>
      <!--
      <td>num <p style="font-size: xx-large;" onclick="Asceding('pos')">ðŸ •</p><p onclick="Desceding('pos')" style="font-size: xx-large;">ðŸ —</p></td>
      <td>Device</td>
      
      <td>Weight<p style="font-size: xx-large;" onclick="Asceding('weight')">ðŸ •</p><p onclick="Desceding('weight')" style="font-size: xx-large;">ðŸ —</p></td>
      <td>Lognitude <p style="font-size: xx-large;" onclick="Asceding('lognitude')">ðŸ •</p><p onclick="Desceding('lognitude')" style="font-size: xx-large;">ðŸ —</p></td>
      <td>Latitude <p style="font-size: xx-large;" onclick="Asceding('latitude')">ðŸ •</p><p onclick="Desceding('latitude')" style="font-size: xx-large;">ðŸ —</p></td>
      <td>Date-Time <p style="font-size: xx-large;" onclick="Asceding('date-time')">ðŸ •</p><p onclick="Desceding('date-time')" style="font-size: xx-large;">ðŸ —</p></td>
      -->
      <td>num </td>
      <td>Device</td>
      
      <td>Weight</td>
      <td>Lognitude </td>
      <td>Latitude </td>
      <td>Date-Time</td>
      <td>State of device</td>
      <td>Mode</td>
      <td>Sample rate</td>
    </tr>
    {{#each devices.devices }}
    
    <tr id='main{{device_id1}}'>
      <td class="pos" id={{pos}}>{{pos}}</td>
      <!--<a href="/device/{{id}}"target="_self" class="a1" > -->
      <td class="td_device" onclick="OpenPopUp({{pos}})"> <p class='task' id={{device_id1}}>{{device_name}}&nbsp;</p></td>
      
     <!-- <div class="weight_button" id='button{{id}}' onclick="OpenPopUp({{id}})">&nbsp;-->
        
        <td> <p class='weight' id={{is_on}} > {{weight}}</p> </td>
         <td><p class="lognitude" id="long{{device_id1}}">{{long}}</p></td>
         <td><p class="latitude" id="lat{{device_id1}}" >{{lang}} </p></td>
        <td class="date-time" id="date_time{{device_id1}}"> <p class="date" id="date{{device_id1}}">{{date_time}}</p>&nbsp;<p class="time" id="time{{device_id1}}"> {{time}}</p></td>
        <td><p id="is_on">{{is_on}}</p></td>
        <td><p class="mode">{{mode}}</p></td>
        <td><p class="sample_rate" id="sample_rate{{device_id1}}">{{sample_rate}}</p></td>
        <td class="test"><a href="/device/{{device_id1}}"target="_self" class="a1" ><p>See history</p></a></td>
       <!--  </div> -->
    </tr>
 
   <!-- <li class='task' id={{id}}>weight: {{weight}}, lognitude: {{lognitude}}, latitude: {{latitude}}, time: {{time}}, date: {{date}}</li> -->
    {{/each}}
</table>



</div><!--
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<form action="/handle" method="post" target="dummyframe" </form>>
    <labe for="change state"  id="device_id">scale_0 is on</p><br>
    <label for="change_state">Turn off Device</label>
    <div class="normal_mode">
    <input type="checkbox" id="change_state" onlick="test()"name="change_state" value="1"> <br>
    
    <input   type="text" name="device_id" value="0" style="display: none;" readonly>
    <input id="rangeInput" name="sample_rate" type="range" min="1" max="30" value="30" oninput="amount.value=rangeInput.value" />
    <input id="amount" type="number" value="30" min="1" max="30" oninput="rangeInput.value=amount.value" /><br>
    <input type="submit" value="Save Changes">
    </div>
    </form>-->


  

  

<script >
  const socketURL = 'http://localhost:8080'
const socket = io();

  //change state of device

  //change mode 
  //change sample rate

//const socket = io();
 //test
 //ÎÎ‘ Î‘Î›Î›Î‘ÎžÎ© Î Î¡Î‘Î“ÎœÎ‘Î¤Î‘
async function Refresh_page (pos) {
   fetch('/refresh_homepage')
      .then( async (response) => {

        // get json response here
        let data = await response.json();
        
        
        if(response.status === 200){
         // Process data here
        }else{
         // Rest of status codes (400,500,303), can be handled here appropriately
        }
        console.log(data.device[0].max)
        if( data.device[0].max!=undefined){
          return data.device[0].max

        }

      })
      .catch((err) => {
          console.log(err);
      })
     
}

function check_refresh(max_pos,ms){
  setInterval(Refresh_page(max_pos),ms)
}

 //-----------------

  function get_basic_info(){
 var list=document.getElementsByClassName('task')
    var pos=document.getElementsByClassName('pos')
    var la=document.getElementsByClassName('latitude')
    var lo=document.getElementsByClassName('lognitude')
    var we=document.getElementsByClassName('weight')
    var da=document.getElementsByClassName('date')
    var ti=document.getElementsByClassName('time')
    var refresh_check=0
    var locations=[]
    var latitude=[]
    var lognitude=[]
    var date=[]
    var weight=[]
    var time=[]
    var ids=[]
    var names=[]
    var position=[]
    for(i=0;i<la.length;i++){
        position.push( pos[i].id)
        if(parseInt(pos[i].id)>=refresh_check){
          refresh_check=pos[i].id
        }
        names.push(list[i].innerText)
        ids.push(list[i].id)
        latitude.push(parseFloat(la[i].innerText))
        lognitude.push(parseFloat(lo[i].innerText))
        locations.push([parseFloat(lo[i].innerText),parseFloat(la[i].innerText)])
        date.push(da[i].innerText)
        time.push(ti[i].innerText)
        weight.push(we[i].innerText)
    }

    return position,names,ids,latitude,lognitude,locations,date,time,weight

  }
   function Asceding(pos){/*
     position,names,ids,latitude,lognitude,locations,date,time,weight=get_basic_info()
      var data={
        "pos":position,
        "weight":weight,
        "latitude":latitude,
        "lognitude":lognitude,
        "date-time":{
          "date":date,
          "time":time
        }
      }
      var main=[...data[pos]]
      var data1={}
      for(i=0;i<main.length;i++){
        tmp={}
        for(i=0;i<data.length;i++){
          if()
        }
        data[main[i]]={
          
        }
      }
      
    
    console.log(output)*/
    console.log(pos)

   }

   
   function Desceding(pos){
     console.log(pos)
   }
   

  var date1=document.getElementsByClassName("date");
  


  for(var i=0;i<date1.length;i++){
    var a=date1[i].innerText;
    var a=a.slice(0,-5)
    //var da=new Date(a.substring(0,a.length-1));
    var da=new Date(a);
    date1[i].innerText=da.toLocaleString()



  }



    function find_id(id1,data){
      var index
      for(i=0;i<data.length;i++){
        if(data[i].pos==id1){
          index=i
          return index
        }
      }

      return null
    }
    
        //takes all the longitudes and latitudes from dom
    var list=document.getElementsByClassName('task')
    var pos=document.getElementsByClassName('pos')
    var la=document.getElementsByClassName('latitude')
    var lo=document.getElementsByClassName('lognitude')
    var we=document.getElementsByClassName('weight')
    var da=document.getElementsByClassName('date')
    var ti=document.getElementsByClassName('time')
    var sam=document.getElementsByClassName('sample_rate')
    var mode=document.getElementsByClassName('mode')
    var check_if_signed=document.getElementsByClassName('check_if_signed')
    var signed=check_if_signed[0].id
    console.log('signed?')
    console.log(signed)

    var locations=[]
    var zoom_locations=[]
    var latitude=[]
    var lognitude=[]
    var date=[]
    var weight=[]
    var time=[]
    var ids=[]
    var names=[]
    var position=[]
    var state=[]
    var change_state1=[]
    var sample_rate=[]
    var reqular=[]
    var press=[]
    var psm=[]
    var min_st=[]
    var max_st=[]
    var monada=[]
    var div_options=[]
    var div_display=[]
    var turn_device=[]
    var refresh_check=0

  

    for(i=0;i<la.length;i++){
      position.push( pos[i].id)

       if(parseInt(pos[i].id)>=refresh_check){
          refresh_check=parseInt(pos[i].id)
        }
      names.push(list[i].innerText)
        ids.push(list[i].id)
        latitude.push(parseFloat(la[i].innerText))
        lognitude.push(parseFloat(lo[i].innerText))
        locations.push([parseFloat(lo[i].innerText),parseFloat(la[i].innerText)])
        zoom_locations.push([parseFloat(la[i].innerText),parseFloat(lo[i].innerText)])
        date.push(da[i].innerText)
        time.push(ti[i].innerText)
        weight.push(we[i].innerText)
        sample_rate.push(sam[i].innerText)
        if(we[i].id=='0'){
          state.push('off')
          turn_device.push('1')
            div_options.push(' style="display: none;"')
          change_state1.push('on')
        }
        if(we[i].id=='1'){
          state.push('on')
          turn_device.push('0')
            div_options.push('')
          change_state1.push('off')
        }
             
       if(mode[i].innerText=='reqular'){
         monada.push('seconds')
         min_st.push('10')
         max_st.push('100')
         div_display.push('')
         reqular.push('checked=true')
         press.push('')
         psm.push('')
       }
  
      if(mode[i].innerText=='psm'){
           monada.push('hours')
            min_st.push('1')
         max_st.push('6')
            div_display.push('')
         reqular.push('')
         press.push('')
         psm.push('checked=true')
       }
      if(mode[i].innerText=='press_mode'){
         div_display.push(' style="display: none;"')
         reqular.push('')
         press.push('checked=true')
         psm.push('')
       }
    }

    console.log(latitude)
    console.log(lognitude)
    function find_average(list){
      var sum=0
      for(i=0;i<list.length;i++){
        sum=sum+list[i]
      }

      return sum/list.length
    }
    var mean_long=find_average(lognitude)
    var mean_lat=find_average(latitude)
    //insert code for taking the average of lat and long
  
              //markers and pop up in map
                  var map = L.map( 'map', {
              center: [20.0, 5.0],
              minZoom: 2,
              zoom: 2
                })//.setView([mean_lat	,mean_long ], 18-latitude.length);
                  L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
              subdomains: ['a','b','c']}).addTo( map );


              map.fitBounds(zoom_locations)


              var markers=[]
              for(i=0;i<latitude.length;i++){
                  markers.push({
                    "id":ids[i],
                    "name":names[i],
                    "lat":latitude[i],
                    "lng":lognitude[i],
                    "weight":weight[i],
                    "date":date[i],
                    "time":time[i],
                    "state":state[i],
                    "change_state1":change_state1[i],
                    "sample_rate":sample_rate[i],
                    "reqular":reqular[i],
                    "press":press[i],
                    "psm":psm[i],
                    "min_st":min_st[i],
                    "max_st":max_st[i],
                    "div_display":div_display[i],
                    "monada":monada[i],
                    "div_option":div_options[i],
                    "turn_device":turn_device[i]

                  })
              }
           
          var mark=[]
          var mark1
          var id1
          console.log(position)
          var form1
          function test(){
              console.log('hello there')
              var r1=document.getElementById('more_options')
              r1.style.display='block'
              var t=rangeInput
              var t1=amount
              var r=document.getElementById('sample_rate_label')
              r.innerText=''
              r.innerText='Choose sample rate(hours)'
              
              t.min='1'
              t1.min='1'
              t.value='1'
              t1.value='1'
              t.max='6'
              t1.max='6'
          }
          function test1(){
              console.log('hello there')
              var r1=document.getElementById('more_options')
              r1.style.display='block'
              var r=document.getElementById('sample_rate_label')
              r.innerText=''
              r.innerText='Choose sample rate(seconds)'
              var t=rangeInput
              var t1=amount
              
              t.min='30'
              t1.min='30'
              t.value='30'
              t1.value='30'
              t.max='60'
              t1.max='60'
          }
          function test2(){
              console.log('hello there')
              var r1=document.getElementById('more_options')
              r1.style.display='none'
            
          }
          function change_options(){
            var r1=change_state
            var t1=document.getElementById('all_options')
            console.log(r1.checked)
            if(t1.style.display=='none'){
              t1.style.display='block'
            }
            else{
              t1.style.display='none'
            }
          }
                
                //.bindPopup( '<a href="/device/' + markers[i].id + '" target="_self" rel="noopener" class="a2">device:' + markers[i].name + '</a><br>'+'<p> weight: '+markers[i].weight+' kg<br>'+markers[i].date+' '+markers[i].time+'</p>' +'<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe><form action="/handle" method="post"><label for="change state"  id="device_id">'+markers[i].name+'is '+markers[i].state +'</p><br><label for="change_state">Turn '+markers[i].change_state1+ ' Device</label>'+'<input type="checkbox" id="change_state" name="change_state" value="1"><br> <label for=press_mode>press mode</label><input  type="radio" id=psm onclick="test2()" name="mode" value="press_mode" checked='+markers[i].press+'><br><label for=psm>power save mode</label><input  type="radio" id=psm onclick="test()" name="mode" value="psm" checked='+markers[i].psm+'><br><label for=reqular'+markers[i].id+'>reqular mode</label><input  type="radio" id=reqular'+markers[i].id+' onclick="test1()" name="mode" value="reqular" checked='+markers[i].reqular+' ><br><div id='+'more_options'+'><input   type="text" name="device_id" value='+markers[i].id+' style="display: none;" readonly><label for="sample_rate" display="style:'+markers[i].div_display+'"id='+'sample_rate_label'+'>Choose sample rate('+markes[i].monada+')</label><br><input id="rangeInput" name="sample_rate" type="range" min='+markes[i].min_st+' max='+markers[i].max_st+' value='+markers[i].sample_rate+' oninput="amount.value=rangeInput.value" /><input id="amount" type="number" value='+ markers[i].sample_rate+'min='+markes[i].min_st+' max='+markers[i].max_st+' oninput="rangeInput.value=amount.value" /><br></div><input type="submit" value="Save Changes"></form>')

      if(signed=='0'){
          for ( var i=0; i < markers.length; ++i ) 
          {
          //frame1=+ 'Device</label><input type="checkbox" id="change_state" name="change_state" value="1"> <br><input   type="text" name="device_id" value='markers[i].id+' style="display: none;" readonly><input id="rangeInput" name="sample_rate" type="range" min="1" max="30" value='+markers[i].sample_rate+' oninput="amount.value=rangeInput.value" /><input id="amount" type="number"'+ value=markers[i].sample_rate+' min="1" max="30" oninput="rangeInput.value=amount.value" /><br><input type="submit" value="Save Changes"></form>'
            
            mark1= L.marker( [markers[i].lat, markers[i].lng] )
              
                .bindPopup( '<a href="/device/' + markers[i].id + '" target="_self" rel="noopener" class="a2">device:' + markers[i].name + '</a><br>'+'<p> weight: '+markers[i].weight+' kg<br>'+markers[i].date+' '+markers[i].time+'</p>')

                .addTo( map );
            mark.push(
              { 
                pos:position[i],
                id:ids[i],
                mark2:mark1
              }
            )
          }
      }
      else{
        console.log('IS SIGNEDDDD')
            for ( var i=0; i < markers.length; ++i ) 
          {
          //frame1=+ 'Device</label><input type="checkbox" id="change_state" name="change_state" value="1"> <br><input   type="text" name="device_id" value='markers[i].id+' style="display: none;" readonly><input id="rangeInput" name="sample_rate" type="range" min="1" max="30" value='+markers[i].sample_rate+' oninput="amount.value=rangeInput.value" /><input id="amount" type="number"'+ value=markers[i].sample_rate+' min="1" max="30" oninput="rangeInput.value=amount.value" /><br><input type="submit" value="Save Changes"></form>'
            
            mark1= L.marker( [markers[i].lat, markers[i].lng] )
              
                .bindPopup( '<a href="/device/' + markers[i].id + '" target="_self" rel="noopener" class="a2">device:' + markers[i].name + '</a><br>'+'<p> weight: '+markers[i].weight+' kg<br>'+markers[i].date+' '+markers[i].time+'</p>' +'<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe><form action="/change_device_settings" method="post"><label for="change state"  id="device_id">'+markers[i].name+'is '+markers[i].state +'</p><br><label for="change_state">Turn '+markers[i].change_state1+ ' Device</label>'+'<input type="checkbox" id="change_state" name="change_state" onclick="change_options()" value='+markers[i].turn_device+'><br><div id='+'all_options '+markers[i].div_option+'> <label for=press_mode>press mode</label><input  type="radio" id=psm onclick="test2()" name="mode" value="press_mode" '+markers[i].press+'><br><label for=psm>power save mode</label><input  type="radio" id=psm onclick="test()" name="mode" value="psm" '+markers[i].psm+'><br><label for=reqular'+markers[i].id+'>reqular mode</label><input  type="radio" id=reqular'+markers[i].id+' onclick="test1()" name="mode" value="reqular" '+markers[i].reqular+' ><br><div id='+'more_options'+''+markers[i].div_display+'><input   type="text" name="device_id" value='+markers[i].id+' style="display: none;" readonly><label for="sample_rate" id='+'sample_rate_label'+'>Choose sample rate('+markers[i].monada+')</label><br><input id="rangeInput" name="sample_rate" type="range" min='+markers[i].min_st+' max='+markers[i].max_st+' value='+markers[i].sample_rate+' oninput="amount.value=rangeInput.value" /><input id="amount" type="number" value='+ markers[i].sample_rate+' min='+markers[i].min_st+' max='+markers[i].max_st+' oninput="rangeInput.value=amount.value" /><br></div></div><input type="submit" value="Save Changes"></form>')
              
               
               
              
                
                .addTo( map );
            mark.push(
              { 
                pos:position[i],
                id:ids[i],
                mark2:mark1
              }
            )
          }
      }
 
 console.log(mark)
 function change_back_color(dom){
    for(j=0;j<dom.children.length;j++){
   // dom.children[j].style.backgroundColor=color
   dom.children[j].style.animation = "mymove 1s 1";
    
  }

 }

  function OpenPopUp(id){
      
      var t=find_id(id,mark)
      
      mark[t].mark2.openPopup()
  }

    //change in dom the weight-latitude-lognitude-date_time
    //ADDING NEW DATA WITH IO
  socket.on('change_weight',(message)=>{
      console.log('hello there')
      var b=document.getElementById(`main${message.device_id}`)
      var device_name=b.getElementsByClassName('task')[0].innerText
      var weight=b.getElementsByClassName('weight')


      var lat=document.getElementById(`lat${message.device_id}`)
      var long=document.getElementById(`long${message.device_id}`)
      
      var date1=document.getElementById(`date_time${message.device_id}`);
      var date_time=new Date(message.date_time)

      //changing dom
      date1.innerText=date_time.toLocaleString()
      weight[0].innerText=message.weight
      lat.innerText=message.lang
      long.innerText=message.long
      //changing popUp
      var i=find_id(b.getElementsByClassName('pos')[0].id,mark)
      var pop=mark[i].mark2.getPopup()
      var check_if_signed1=document.getElementsByClassName('check_if_signed')
      var signed1=check_if_signed1[0].id
      var state
      var change_state
      if(weight[0].id=='1'){
        state='on'
        change_state='off'
      }
      else{
        state='off'
        change_state='on'
      }
      var content
      if(signed1=='0'){
          content=`<a href="/device/${message.device_id}" target="_self" rel="noopener" class="a2">device:${device_name} </a><br><p> weight: ${message.weight} kg<br>${date_time.toLocaleString()} </p>`
        
          pop._content=content

      }
      else{
          pop._content='<a href="/device/' + markers[i].id + '" target="_self" rel="noopener" class="a2">device:' + markers[i].name + '</a><br>'+'<p> weight: '+message.weight+' kg<br>'+date_time.toLocaleString()+' '+markers[i].time+'</p>' +'<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe><form action="/change_device_settings" method="post"><label for="change state"  id="device_id">'+markers[i].name+'is '+markers[i].state +'</p><br><label for="change_state">Turn '+markers[i].change_state1+ ' Device</label>'+'<input type="checkbox" id="change_state" name="change_state" onclick="change_options()" value='+markers[i].turn_device+'><br><div id='+'all_options '+markers[i].div_option+'> <label for=press_mode>press mode</label><input  type="radio" id=psm onclick="test2()" name="mode" value="press_mode" '+markers[i].press+'><br><label for=psm>power save mode</label><input  type="radio" id=psm onclick="test()" name="mode" value="psm" '+markers[i].psm+'><br><label for=reqular'+markers[i].id+'>reqular mode</label><input  type="radio" id=reqular'+markers[i].id+' onclick="test1()" name="mode" value="reqular" '+markers[i].reqular+' ><br><div id='+'more_options'+''+markers[i].div_display+'><input   type="text" name="device_id" value='+markers[i].id+' style="display: none;" readonly><label for="sample_rate" id='+'sample_rate_label'+'>Choose sample rate('+markers[i].monada+')</label><br><input id="rangeInput" name="sample_rate" type="range" min='+markers[i].min_st+' max='+markers[i].max_st+' value='+markers[i].sample_rate+' oninput="amount.value=rangeInput.value" /><input id="amount" type="number" value='+ markers[i].sample_rate+' min='+markers[i].min_st+' max='+markers[i].max_st+' oninput="rangeInput.value=amount.value" /><br></div></div><input type="submit" value="Save Changes"></form>'
      }

      change_back_color(b)
    
      console.log(message)
      

})
/*
socket.on('change_state',(message)=>{
    console.log(message)
    var tr=document.getElementById('main'+message.device_id)
    var mode=tr.getElementsByClassName('mode')[0]
    var sample_rate=tr.getElementsByClassName('sample_rate')[0]
    var is_on=tr.getElementById('is_on')
    if(messsage.change_state==0){
      mode.innerText=message.mode
      sample_rate=tr.innerText=message.sample_rate
    }
    is_on.innerText=message.change_state
})*/

    </script>
 <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
