 <head profile="http://gmpg.org/xfn/11">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
      <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
      
      <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
      <script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>
 
 
 
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
        li{
        overflow:hidden;
        }
      p{
        display:inline-block;
        }
    .ol-popup{
        border-style:solid;
        border-width: 0.02cm;
        border-radius: 5%;
        padding-right: auto;
        background-color: rgb(167, 165, 165);
        
    }
    #close_img{
            float: right;
            width: 15px;
            height: auto;

    }


    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
    <title>OpenLayers example</title>
  </head>
  <body>
    <h2>My Map</h2>
    <div id="map" style="width: 900px; height: 600px; border: 1px solid #AAA;"></div>
     

     
     <!--
       <div id="map" style="width: 600px; height: 400px;"></div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"><img id="close_img" src="https://img.icons8.com/material-outlined/24/000000/delete-sign.png"/></a><br>
        <div id="popup-content"></div>
     </div>-->
     
   
  



<p id='scale'>Scales</p>


<ul class='tasks' id="list">
    {{#each devices }}
        <li class='task' id={{id}}><button id='button{{id}}' onclick="OpenPopUp({{id}})"><p class='weight'>weight: {{weight}}kg</p> <p > lognitude: <p class="lognitude">{{lognitude}}</p>,</p> <p>latitude: <p class="latitude">{{latitude}} </p></p>, </p>time:<p class="time"> {{time}}, </p><p> date: <p class="date">{{date}}</p></p></button><a href="/device/{{id}}">see device's history</a></li>

   <!-- <li class='task' id={{id}}>weight: {{weight}}, lognitude: {{lognitude}}, latitude: {{latitude}}, time: {{time}}, date: {{date}}</li> -->
    {{/each}}
</ul>

<script >
    function find_id(id1,data){
      var index
      for(i=0;i<data.length;i++){
        if(data[i].id==id1){
          index=i
          return index
        }
      }

      return null
    }
    
        //takes all the longitudes and latitudes from dom
    var list=document.getElementsByClassName('task')
    var la=document.getElementsByClassName('latitude')
    var lo=document.getElementsByClassName('lognitude')
    var we=document.getElementsByClassName('weight')
    var da=document.getElementsByClassName('date')
    var ti=document.getElementsByClassName('time')
    var locations=[]
    var latitude=[]
    var lognitude=[]
    var date=[]
    var weight=[]
    var time=[]
    var ids=[]
    for(i=0;i<la.length;i++){
        ids.push(list[i].id)
        latitude.push(parseFloat(la[i].innerText))
        lognitude.push(parseFloat(lo[i].innerText))
        locations.push([parseFloat(lo[i].innerText),parseFloat(la[i].innerText)])
        date.push(da[i].innerText)
        time.push(ti[i].innerText)
        weight.push(we[i].innerText)
    }

    console.log(latitude)
    console.log(lognitude)
    //insert code for taking the average of lat and long

    //markers and pop up in map
         var map = L.map( 'map', {
    center: [20.0, 5.0],
    minZoom: 2,
    zoom: 2
});
        L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: ['a','b','c']}).addTo( map );

    var markers=[]
    for(i=0;i<latitude.length;i++){
        markers.push({
          "id":i,
          "lat":latitude[i],
          "lng":lognitude[i],
          "weight":weight[i],
          "date":date[i],
          "time":time[i]
        })
    }
var mark=[]
var mark1
var id1
for ( var i=0; i < markers.length; ++i ) 
{
   
  mark1= L.marker( [markers[i].lat, markers[i].lng] )
      .bindPopup( '<a href="/device/' + markers[i].id + '" target="_blank" rel="noopener">device:' + markers[i].id + '</a><br>'+'<p>'+markers[i].weight+'<br>'+markers[i].date+' '+markers[i].time+'</p>' )
      .addTo( map );
  mark.push(
    {
      id:ids[i],
      mark2:mark1
    }
  )
}
 
  function OpenPopUp(id){
      
      var t=find_id(id,mark)
      
      mark[t].mark2.openPopup()
  }

    </script>
 <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
